<h1>AboutUsPage</h1>
<div class="card" style="width: 18rem;">
    <img src="https://extraextrabricks.pl/environment/cache/images/500_500_productGfx_3893/LEGO-City-Minifigure---Builder--Construction-Worker-in-a-helmet--Mini-figurka-LEGO-City-mezczyzna---robotnik--budowlaniec--pracownik-budowy-w-kasku.jpg" class="card-img-top" alt="The best worker">
    <div class="card-body">
      <h5 class="card-title">Worker #1</h5>
      <p class="card-text">This is our company's best worker</p>
      <a routerLink="/pracownik/Olcia" class="btn btn-primary">Read more!</a>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://archiwum.allegro.pl/image//imagesNEW/big/149cabac518e9120a01aaf59c14ff36436e5105d39e592e99aba30f6e18147c4" class="card-img-top" alt="The best worker">
        <div class="card-body">
          <h5 class="card-title">Worker #2</h5>
          <p class="card-text">This is our second best worker in company</p>
          <a href="#" class="btn btn-primary">Read more!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i0.wp.com/farm6.staticflickr.com/5533/12364830693_93674df5f5_o.jpg" class="card-img-top" alt="the best worker">
        <div class="card-body">
          <h5 class="card-title">Worker #3</h5>
          <p class="card-text">This is our third best worker in company</p>
          <a href="#" class="btn btn-primary">Read more!</a>
        </div>
      </div>
  </div>
  <p>Nasza firma należy do jednych z najlepszych w branży. Zapraszamy do aplikacji!</p>